{% extends "cards/layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block body %}
<h2 class="card-title m-3"> Your Flashcard Sets </h2>
<div class ="container-fluid d-flex flex-wrap">
    {% for set in owned_sets %}
        <div class="card mx-3 mb-3 shadow-sm" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-text">{{ set.name }}</h5>
                <p class="card-text">by {{ set.owner.username }}</p>
                <a href="{% url 'set_view' set.id set.name %}" class="btn btn-primary">View Set</a>
            </div>
        </div>
    {% empty %}
        Make your own! 
    {% endfor %}
</div>
<h2 class="card-title m-3"> Your Saved Sets </h2>
<div class ="container-fluid d-flex flex-wrap">
    {% for set in saved_sets %}
        <div class="card mx-3 mb-3 shadow-sm" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-text">{{ set.name }}</h5>
                <p class="card-text">by {{ set.owner.username }}</p>
                <a href="{% url 'set_view' set.id set.name %}" class="btn btn-primary">View Set</a>
            </div>
        </div>
    {% empty %}
        You have no saved sets!
    {% endfor %}
</div>
{% endblock %}
