{% extends "cards/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    {% if query %}
        <h2>Results for "{{ query }}"</h2>
        {% if results %}
            <ul>
                {% for set in results %}
                    <li>
                        <a href="{% url 'set_view' set.id set.name %}">{{ set.name }}</a>
                        by {{ set.owner.username }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No results found for "{{ query }}".</p>
        {% endif %}
    {% endif %}
{% endblock %}
