{% extends "cards/layout.html" %}

{% block title %}
    {{ name }}
{% endblock %}

{% block body %}
    <h1> {{ content.name }}</h1>
    By {{ content.owner.username }}
    <div> {{ content.description }}</div>

    <a href="{% url 'study' content.id content.name %}"> Use Flashcard </a>
    
    {% if request.user == content.owner %}
        <a href="{% url 'edit' content.id content.name %}">Add Cards</a>
        <a href="{% url 'set_stats' content.id content.name %}">View Set Stats</a>
    {% elif request.user.is_authenticated %}
        {% if request.user in content.saved_by.all %}
            <a href="{% url 'save_set' content.id content.name %}">Unsave Set</a>
        {% else %}
            <a href="{% url 'save_set' content.id content.name %}">Save Set</a>
        {% endif %}
        <a href="{% url 'set_stats' content.id content.name %}">View Set Stats</a>
    {% endif %}
    
    {% for card in cards %}
        <div class="card m-3">
            <div class="card-body">
                <h5 class="card-title">{{ card.question }}</h5>
                <p class="card-text">{{ card.answer }}</p>
            </div>
        </div>
    {% empty %}
        <div>No Cards in Flashcard Set</div>
    {% endfor %}
{% endblock %}
