{% extends "cards/layout.html" %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ card.question }}</h5>
            <button onclick="document.getElementById('ans').style.display='block'"> Reveal Answer</button>
            <div id="ans" style="display:none" class="card-text">{{ card.answer }}</div>
        </div>
    </div>

    <form action="{% url 'study' set_id name %}" method="post">
        {% csrf_token %}
        {{ grade }}
        <input type="hidden" name="card_id" value="{{ card_id }}">
        <input type="submit">
    </form>

    <div>Cards Reviewed This Session: {{ cards_reviewed }} </div>
{% endblock %}

