{% extends "cards/layout.html" %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ card.question }}</h5>
            <button onclick="document.getElementById('ans').style.display='block'"> Reveal Answer</button>
            <div id="ans" style="display:none" class="card-text">{{ card.answer }}</div>
        </div>
    </div>

{% if card.video_id %}
    <div id="player-container"></div>
    <iframe width="0" height="0" src="https://www.youtube.com/embed/{{ card.video_id }}?autoplay=1" 
    title="YouTube video player" 
    frameborder="0" 
    allow="autoplay; encrypted-media"
    referrerpolicy="strict-origin-when-cross-origin" autoplay allowfullscreen></iframe>
{% endif %}
    <h5>If there is no audio playing: <a href="https://www.youtube.com/watch?v={{ card.video_id }}" target="_blank">Play on YouTube</a></h5>

    <form action="{% url 'study' set_id name %}" method="post">
        {% csrf_token %}
        {{ grade }}
        <input type="hidden" name="card_id" value="{{ card_id }}">
        <input type="submit">
    </form>

    <div>Cards Reviewed This Session: {{ cards_reviewed }} </div>
{% endblock %}

