{% extends "cards/layout.html" %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ card.question }}</h5>
            <button onclick="document.getElementById('ans').style.display='block'"> Reveal Answer</button>
            <div id="ans" style="display:none" class="card-text">{{ card.answer }}</div>
        </div>
    </div>

{% if card.video_id %}
    <div id="player-container"></div>
    <button onclick="
        document.getElementById('player-container').innerHTML = 
        '<iframe width=\'560\' height=\'315\' src=\'https://www.youtube.com/embed/{{ card.video_id }}?autoplay=1\' allow=\'autoplay; encrypted-media\'></iframe>';
        this.style.display='none';
    ">
        ▶ Play
    </button>
{% endif %}

    <form action="{% url 'study' set_id name %}" method="post">
        {% csrf_token %}
        {{ grade }}
        <input type="hidden" name="card_id" value="{{ card_id }}">
        <input type="submit">
    </form>

    <div>Cards Reviewed This Session: {{ cards_reviewed }} </div>
{% endblock %}

